<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.4/examples/sign-in/signin.css"/>
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Ingreso al sistema</title>
</head>
<body class="text-center">
<div class="container theme-showcase">
    <form method="post" th:action="@{/guardarUsuario}" th:object="${usuario}">
        <h2 class="form-signin-heading">Registro de usuario</h2>
        <br>
        <br>
        <div class="d-flex">
            <h5>Nombre</h5><label for="nombre" class="sr-only"></label> &nbsp;
            <input type="text" th:field="${usuario.nombre}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</div>
        </div> 
        <br>
        <div class="d-flex">
            <h5>Apellido</h5> <label for="apellido" class="sr-only"></label> &nbsp;
            <input type="text" th:field="${usuario.apellido}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"}></div>
        </div>
        <br>
        <div class="d-flex">
            <h5>DNI</h5> <label for="dni" class="sr-only"></label> &nbsp;
            <input type="text" th:field="${usuario.dni}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"}></div>
        </div>
        <br>
        <div class="d-flex">
            <h5>Correo</h5> <label for="correo" class="sr-only"></label> &nbsp;
            <input type="text" th:field="${usuario.correo}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"}></div>
        </div>
        <br>
        <div class="d-flex">
            <h5>Contraseña</h5> <label for="password" class="sr-only"></label> &nbsp;
            <input type="password" th:field="${usuario.password}" class="form-control">
            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"}></div>
        </div>
        <br>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Registrar">
    </form>
    <br>
     <div >
        <a th:href="@{'/loginForm'}" class="btn btn-default btn-lg active " role="button">Regresar</a>
    </div>

</div>
</body>
</html>