<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento/navBar.html :: cabecera( title = 'Lista Productos')"></head>
<body>
<div class="container">
    <nav th:replace="fragmento/navbar.html :: barrapedidos( active = 'Producto')"></nav>
    <h2>Lista de Productos</h2>
    <form class="form-inline d-flex mb-5" th:action="@{/}" method="post">
        <div class="d-flex">
            <input class="form-control form-control-sm mr-3 w-75 d-flex justify-content-center" type="text"
                   placeholder="Search" aria-label="Search">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Buscar">
        </div>
    </form>
    <table class="table">

        <tr th:each="producto: ${listaProductos}">
            <table>
                <td><h1>AQUI DEBE IR LA FOTEX</h1></td>
                <td>
                    <ul>
                        <li th:text="${producto.codigo}">Aquí irá el código</li>
                        <li th:text="${producto.nombre}">Aquí irá el nombre</li>
                        <li th:text="${producto.precio}">Aquí irá el precio</li>
                        <li th:text="${producto.stock}">Aquí irá el stock</li>
                    </ul>
                </td>
            </table>
            <table>
                <a class="btn btn-primary" th:href="@{'/invitado/listarVerMas' + '?id=' + ${producto.idproducto}}">Ver más</a>
                <a class="btn btn-danger" th:href="@{'/registrado/AgregarCarrito' + '?id=' + ${producto.idproducto}}">Agregar al carrito</a>
            </table>
        </tr>
    </table>
</div>
</body>
</html>
