<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento/navBar.html :: cabecera(title = 'Producto - Checkout')"></head>
<body>
<div class="container">
    <nav th:replace="fragmento/navbar.html :: barrapedidos( active = 'Check Out del Carrito')"></nav>
    <h2>Chek Out de Compras</h2>
    <table class="table" >
        <tr>
            <div>
                <table>
                    <tr th:each="productoCarrito : ${lista}">
                        <td><h1>AQUI DEBE IR LA FOTEX</h1></td>
                        <td>
                            <ul>
                                <li th:text="|'El Código del producto es: '   ${productoCarrito.producto.codigo}|">Aquí irá el código</li>
                                <li th:text="|'Nombre del producto: '   ${productoCarrito.producto.nombre}|">Aquí irá el nombre</li>
                                <li th:text="|'Precio: '  ${productoCarrito.producto.precio}|">Aquí irá el precio</li>
                                <li th:text="|'Cantidad: ' ${productoCarrito.cantidad}|">Aquí irá la cantidad</li>
                                <li th:text="|'Subtotal: '  ${productoCarrito.cantidad * productoCarrito.producto.precio}|">Aquí el subtotal</li>
                            </ul>
                        </td>
                    </tr>

                </table>
                <h3 th:text="|Total: S/ ${session.total} |"></h3>
                <td><a class="alert-success" th:href="@{'/invitado/listarProductos'}"> Proceder a comprar </a></td>

            </div>
        </tr>
    </table>
</div>
</body>
</html>
