<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head th:replace="fragmento/navBar.html :: cabecera(title = 'Producto - Ver más')"></head>
<body>
<div class="container">
    <nav th:replace="fragmento/navbar.html :: barrapedidos( active = 'Producto')"></nav>
    <h2>Producto - Ver más</h2>
    <h4 th:if="${msg!=null}" th:text="${msg}" class="form-signin-heading" style="color:red">Aquí debería validar si se agregó el producto al carrito</h4>
    <table class="table">
        <h3 th:text="${producto.nombre}"></h3>
        <tr>
            <div>
                <table>
                    <tr>
                        <td><h1>AQUI DEBE IR LA FOTEX</h1></td>
                        <td>
                            <ul>
                                <li th:text=" ${producto.codigo}">Aquí irá el código</li>
                                <li th:text="${producto.precio}">Aquí irá el precio</li>
                                <li th:text=" ${producto.stock}">Aquí irá el stock</li>
                                <li th:text="${producto.descripcion}">Aquí irá la descripción</li>
                            </ul>
                        </td>
                    </tr>
                </table>

                <td><a class="btn btn-primary" th:href="@{'/invitado/listarProductos'}"> Regresar </a></td>
                <a class="btn btn-dark" sec:authorize="hasAnyAuthority('gestor')"  th:href="@{'/gestor/editarProducto' + '?id=' + ${producto.idproducto}}">Editar Producto</a>
                <a class="btn btn-danger"  sec:authorize="hasAnyAuthority('registrado')" th:href="@{'/registrado/AgregarCarrito' + '?id=' + ${producto.idproducto}}">Agregar al carrito</a>
                <a class="btn btn-danger"  sec:authorize="isAnonymous()" th:href="@{'/registrado/AgregarCarrito' + '?id=' + ${producto.idproducto}}">Agregar al carrito</a>

            </div>
        </tr>
    </table>
</div>
</body>
</html>
