<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.4/examples/sign-in/signin.css"/>
    <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Ingreso al sistema</title>
</head>
<body class="text-center">
<div class="container theme-showcase">
    <form class="form-signin" th:action="@{/processLogin}" method="post">
        <h2 class="form-signin-heading text-md-center">Ingreso al sistema</h2>

        <label for="correo" class="sr-only">Usuario</label>
        <input type="text" id="correo" name="correo" class="form-control" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" required>

        <div class="checkbox">
            <label><input type="checkbox">Recordarme</label>
        </div>

        <h4 th:if="${param.error}" class="form-signin-heading" style="color:red">Usuario o contraseña incorrectos</h4>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Ingresar">
    </form>
    <br>
    <br>
    <div>
        <a th:href="@{'/invitado/recuperar'}" class="btn btn-default btn-lg active " role="button">Recuperar Contraseña</a>
    </div>
    <div>
        <a th:href="@{'/invitado/registrarse'}" class="btn btn-default btn-lg active" role="button">Registrarse</a>
    </div>

</div>
</body>
</html>